<div class="medicare-bg d-flex flex-column justify-content-center align-items-center min-vh-100">

    <!-- Logo Only -->
    <!-- New -->
    <div class="d-flex flex-column align-items-center">
        <img src="assets/logo.png" alt="EMS Logo">


        <!-- Login Form -->
        <div class="login-box w-350 align-items-center">
            <h2 class="text-center mb-3 brand-title">MEDICARE</h2>
            <form [formGroup]="loginForm" (ngSubmit)="checkLoginCredentials()">

                <!-- Username -->
                <div class="form-group mb-3">
                    <input type="text" placeholder="Enter User Name" formControlName="userName" class="form-control">
                    <div class="validation-error text-danger"
                        *ngIf="isSubmitted && getAllformControls['userName'].errors">
                        <div *ngIf="getAllformControls['userName'].errors['required']">
                            User Name is invalid or required
                        </div>
                    </div>
                </div>

                <!-- Password -->
                <div class="form-group mb-3">
                    <input type="password" placeholder="Enter Password" formControlName="password" class="form-control">
                    <div class="validation-error text-danger"
                        *ngIf="isSubmitted && getAllformControls['password'].errors">
                        <div *ngIf="getAllformControls['password'].errors['required']">
                            Password is invalid or required
                        </div>
                    </div>
                </div>

                <!-- Submit -->
                <div class="mb-3 login-button w-10 ">
                    <button type="submit" class="btn btn-lg btn-primary form-control">
                        Login
                    </button>
                </div>

                <!-- Error Message -->
                <div class="validation-error text-danger text-center" *ngIf="errorMessage">
                    {{errorMessage}}
                </div>

            </form>
        </div>
    </div>

</div>