<app-navigation-bar></app-navigation-bar>

<div class="dashboard-container page-content">
  <h2 class="dashboard-title">Pharmacist Dashboard</h2>

  <div class="button-container">
  <div class="button-row">
    <button class="btn btn-light-navy" (click)="viewPrescriptions()">View All Prescriptions</button>
    <button class="btn btn-light-navy" (click)="viewPatientHistory()">Patient History</button>
  </div>
  <div class="button-row">
    <button class="btn btn-light-navy" (click)="addMedicine()">Add Medicine</button>
    <button class="btn btn-light-navy" (click)="viewMedicines()">List of Medicines</button>
  </div>
  <div class="button-row single-center">
    <button class="btn btn-light-navy" (click)="viewBillHistory()">Bill History</button>
  </div>
</div>

