<!-- admin-dashboard.component.html -->
<app-navigation-bar></app-navigation-bar>

<div class="page-content">
  <div class="container">
    <div class="button-container">
      <button class="btn btn-light-navy" (click)="goToUserList('Doctor')">Doctor</button>
      <button class="btn btn-light-navy" (click)="goToUserList('Receptionist')">Receptionist</button>
      <button class="btn btn-light-navy" (click)="goToUserList('LabTechnician')">Lab Technician</button>
      <button class="btn btn-light-navy" (click)="goToUserList('Pharmacist')">Pharmacist</button>
    </div>
  </div>
</div>
