<!-- admin-dashboard.component.html -->
<div class="container mt-4">
  <div class="row">
    <div class="col-md-3">
      <button class="btn btn-primary w-100" (click)="goToUserList('Doctor')">Doctor</button>
    </div>
    <div class="col-md-3">
      <button class="btn btn-success w-100" (click)="goToUserList('Receptionist')">Receptionist</button>
    </div>
    <div class="col-md-3">
      <button class="btn btn-info w-100" (click)="goToUserList('LabTechnician')">Lab Technician</button>
    </div>
    <div class="col-md-3">
      <button class="btn btn-warning w-100" (click)="goToUserList('Pharmacist')">Pharmacist</button>
    </div>
  </div>
</div>
