<app-navigation-bar></app-navigation-bar>
<div class="dashboard-container">
  <!-- <h2>Receptionist Dashboard</h2> -->

  <div class="dashboard-cards">
    <div class="card" (click)="navigateTo('patients')">
      <h3>Manage Patients</h3>
      <p>Add, View, Search, and Edit Patients</p>
    </div>

    <div class="card" (click)="navigateTo('appointments')">
      <h3>Manage Appointments</h3>
      <p>Schedule, Edit, or Cancel Appointments</p>
    </div>

    <!-- <div class="card" (click)="navigateTo('bills')">
      <h3>Generate Bills</h3>
      <p>View and Create Patient Bills</p>
    </div> -->
  </div>
</div>
